* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(106, 143, 175);
    overflow: hidden;
}

.container {
    background-color: aliceblue;
    position: relative;
    width: 80%;
    max-width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20vh auto;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

input[type="range"] {
    width: 70%;
    height: 3.5px;
    -webkit-appearance: none;
    background-color: black;
    border-radius: 3px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 13px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

input[type="range"]:hover::-webkit-slider-thumb {
    transform: scale(1.2);
    background-color: darkred;
}

span {
    font-weight: 600;
}

#result {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: darkred;
    transition: transform 0.2s ease, color 0.2s ease;
}

#result:hover {
    transform: scale(1.1);
    color: crimson;
}

#category {
    font-size: 18px;
    letter-spacing: 1px;
    align-items: center;
    margin-top: 5px;
}